@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$primary-color: #343a40;
$secondary-color: #ecf0f1;
$accent-color: #ff8981;
$background-color: #3c4855;
$hover-accent-color: #e0685a;

.landingPage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 5%;

    .button {
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      border: 2px solid $hover-accent-color;
      border-radius: 50px;
      color: $accent-color;
      background-color: transparent;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s;

      &:hover {
        background-color: #e0675ab5;
        color: $secondary-color;
        transform: scale(1.1);
      }
    }
  }
}
