@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$primary-color: #343a40;
$secondary-color: #ecf0f1;
$accent-color: #ff8981;
$background-color: #3c4855;
$hover-accent-color: #e0685a;

.logoutButton {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 25px;
  border-color: $hover-accent-color;
  color: $primary-color;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #e0675ab5;
    color: $secondary-color;
    transform: scale(1.1);
  }
}
